* {
  margin: 0;
  padding: 0;
}
html,
body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.custom_cursor {
  position: absolute;
  opacity: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all linear 0.1s;
}

.second {
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  border-radius: 50%;
}

.second .poienter {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
